.wrapper-register{
    height: 100vh;
    background-color:#131a25;
}
.register{

    width: 450px;
    padding: 30px ;
    height: min-content;
    border-radius: 5px;
    background-color: #3b3b3b;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-close{
    color: white;
    /* background: white; */
}

.button-close:hover{
    background-color: #67a5f6;
    border-radius: 50px;
    cursor: pointer;
}

@media screen and (max-width:850px) {
    .register{
        width: 400px;
        padding: 20px ;
        height: min-content;
        border-radius: 5px;
        /* background-color: white; */
        /* color: black; */
    }
}

@media screen and (max-width:650px) {
    .register{
        width: 350px;
        padding: 20px ;
        height: min-content;
        border-radius: 5px;
        /* background-color: white; */
        /* color: black; */
    }
}