.wrapper-register{
    height: 100vh;
    background-color:#6298fe;
}
.register{

    width: 450px;
    padding: 30px ;
    height: min-content;
    border-radius: 5px;
    background-color: #ffffff4e;
    color: black;
    box-shadow: 1px 1px 1cqmin 1px  rgba(0, 0, 0, 0.433);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-close:hover{
    background-color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
}

@media screen and (max-width:850px) {
    .register{
        width: 400px;
        padding: 20px ;
        height: min-content;
        border-radius: 5px;
        /* background-color: white; */
        /* color: black; */
    }
}

@media screen and (max-width:650px) {
    .register{
        width: 350px;
        padding: 20px ;
        height: min-content;
        border-radius: 5px;
        /* background-color: white; */
        /* color: black; */
    }
}