.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
  }
  
  .bottom-bar-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
    padding: 0;
    margin: 0;
  }
  
  .bottom-bar-links li {
    display: inline-block;
  }
  
  .nav-icons {
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .nav-icons:hover {
    color: #00bbf0;
  }
  

/* @media screen and (max-width:850px){
    .bottom-bar-links{
      margin-left: 50px;
    }

    .bottom-bar-links li{
        margin: 0%;
        align-items: center;
        justify-content: center;
        margin: 1rem 6.5rem;
        margin-left: 10px;
        width: 100%;
    }
}

@media screen and (max-width:650px){

    .bottom-bar-links{
        margin-left: -10px;
      }

    .bottom-bar-links li{
        margin: 0%;
        align-items: center;
        justify-content: space-between;
        padding: auto;
        margin: 0rem 2rem;
        margin-left: 20px;
    }
}

@media screen and (max-width:450px){
    .bottom-bar-links li{
        margin: 2rem 2.3rem;
        padding: auto;
        align-items: center;
        justify-content: space-between;
        margin-left: 20px;
    }

    .bottom-bar{
        height: 45px;
    }
}

@media screen and (max-width:400px){
    .bottom-bar-links li{
        margin: 1rem 2rem;
        padding: auto;
        align-items: center;
        justify-content: space-between;
        margin-left: 0px;
    }

    .bottom-bar{
        height: 45px;
        z-index:0;
    }
} */