.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #F5F5DC; */
    /* border-radius: 50px; */
    margin-left: 0px;
    margin-top: 11px;
    /* height: 40px; */
    /* box-shadow: 0px 2px 5px -2px #333; */
    position: absolute;
    z-index: 500;
}



.back{
    background-color: rgb(255, 255, 255,0.3);
    box-shadow: 0px 2px 5px -2px #333;
    height: 40px;
    border-radius: 50px;
    /* width: 26.5%; */
    /* width: 100%; */
    
}

.nav-bar-links{

    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 0px;
    padding: 2px 2px;
    margin: 2px 2px;
    cursor: pointer;
    text-align: center;
    /* position: absolute; */
}

.nav-bar-links li{
    /* padding: auto; */
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    width: 64px;
    margin: 0.5px 6px;
    text-decoration: none;
    color: #191970;

    box-shadow: 0px 2px 5px -2px #333;
    /* text-shadow: 0px -1px #333; */
    border-radius: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.nav-bar-links a{
    text-decoration: none;
    
}






@media screen and (max-width:1150px){
    .nav-bar{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #F5F5DC; */
        border-radius: 50px;
        margin-left: 0px;
        margin-top: 10px;
        height: 40px;
        /* box-shadow: 0px 2px 5px -2px #333; */
        position: absolute;
    }
    
    .nav-bar-links{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 2px 2px;
        margin: 2px 2px;
        cursor: pointer;
        text-align: center;
        
    }
    
    .nav-bar-links li{
        margin: 0.5px 5px;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        width: 64px;
        text-decoration: none;
        color: #191970;
        box-shadow: 0px 2px 5px -2px #333;
        border-radius: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
}


@media screen and (max-width:850px){
    .nav-bar{
       width: 100%;
       margin-left: 0px;
       align-items: center;
       justify-content: center;
       display: flex;
    }

    .nav-bar-links{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 2px 2px;
        margin: 2px 2px;
        cursor: pointer;
    }
    
    .nav-bar-links li{
        margin: 9px;
        text-align: center;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0.5px 5px;
        font-size: 14px;
        box-shadow: 0px 2px 5px -2px #333;
        border-radius: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
}

@media screen and (max-width:650px){
    .nav-bar{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #F5F5DC; */
        border-radius: 50px;
        margin-left: 0px;
        margin-top: 10px;
        height: 35px;
        /* box-shadow: 0px 2px 5px -2px #333; */
    }

    .nav-bar-links{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 2px 2px;
        margin: 2px 2px;
        cursor: pointer;
    }
    
    .nav-bar-links li{
        /* margin: 2.5px; */
        text-align: center;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0.5px 2px;
        font-size: 14px;
        box-shadow: 0px 2px 5px -2px #333;
        border-radius: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    
}

@media screen and (max-width:450px){
    
    .nav-bar{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #F5F5DC; */
        border-radius: 50px;
        margin-left: 0px;
        margin-top: 10px;
        height: 35px;
        /* box-shadow: 0px 2px 5px -2px #333; */
    }

    .nav-bar-links{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 2px 2px;
        margin: 2px 2px;
        cursor: pointer;
        
    }
    
    .nav-bar-links li{
        width: 54px;
        text-align: center;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0.5px 1px;
        font-size: 14px;
        box-shadow: 0px 2px 5px -2px #333;
        border-radius: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }


    .navnav1{
        margin-top: -10px;
    }
}