.wrap{
    /* height: 79.3vh; */
    /* background-color:#191970; */
    margin: 0%;
}

.card-content{
    padding: 1rem;
}


@media screen and (max-width:450px){
    .wrap{
        height: auto;
    }
}

@media screen and (max-width:435px){
    .wrap{
        height: auto;
    }

    .card-content{
        display: flex;
        justify-content: left;
        align-items: left;
        flex-direction: column;
        padding: 1rem;
    }
}

@media screen and (max-width:415px){
    .wrap{
        height: auto;
    }
}

@media screen and (max-width:400px){
    .wrap{
        height: auto;
    }
}

@media screen and (max-width:395px){
    .wrap{
        height: auto;
    }
}

@media screen and (max-width:390px){
    .wrap{
        height: auto;
    }

}

@media screen and (max-width:390px){
    .wrap{
        height: auto;
    }

}

@media screen and (max-width:375px){
    .wrap{
        height: 84.6vh;
    }
}
