.bodyb {
    padding: 10px;
   
    width: 400px;
    background-color:rgb(186, 153, 217);
    border-radius: 5px;
    margin-top: 40px;
  }

.bodybudget{
    padding: 10px;
    background-color:rgb(186, 153, 217);
}


  /* .bodyb {
    margin-top: 20px;
  } */
  

  .navnav {
    height: 80px; 
    background-color: #fff; 
  }
  
  .bottombar {
    height: 60px;
    background-color: #fff; 
  }

.bodyb h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.bbttnn{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
  .table {
    width: 100%;
    overflow-x: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    /* margin-bottom: 49.7vh; */
    
  }
  
  .table th, .table td {
    padding: 8px;
    text-align: left;
  }


  .bottombar{
    margin: 0%;
    position: fixed;
    z-index: 5;
  }

  @media screen and (max-width:2000px){

    .bodyb {
      margin-top: 100px;
      width: 400px;
    }
  }


  @media screen and (max-width:850px){
    .bodyb {
      margin-top: 270px;
      width: 400px;
    }
  }
  
 
  @media (max-width: 768px) {
    .table th, .table td {
      font-size: 14px; 
    }
  
    .tableb {
      overflow-x: auto;
      display: block;
    }
  
    .tableb thead, .tableb tbody, .tableb th, .tableb td, .tableb tr {
      display: block;
    }
  
    .tableb tbody {
      overflow-y: auto;
    }
  
    .tableb td, .tableb th {
      width: 100%;
      box-sizing: border-box;
      display: block;
    }
  }

  @media screen and (max-width:450px){

    /* .bodyb {
      margin-top: 200px;
      width: 400px;
    } */
  }