.wrapper3{
    height: 66.1vh;
}

.wrapper4{
    height: 66.1vh;
}

.service{
    width: 330px;
    padding: 15px;
    height: min-content;
    border-radius: 5px;
    background-color: rgb(186, 153, 217);
    color: black;
    margin-top: -50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.connection{
    width: 330px;
    padding: 15px;
    height: min-content;
    border-radius: 5px;
    background-color: rgb(186, 153, 217);
    color: black;
    margin-top: -100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content{
    display: none;
}

.show-content{
    display:block;
}


.tab{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.tab-links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.tab-links li{
    margin: 1rem 3rem;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@media screen and (max-width:850px){
    .wrapper3{
        height: 65.6vh;
    }
    .wrapper4{
        height: 65.6vh;
    }
}

@media screen and (max-width:450px){
    .wrapper3{
        height: 73.6vh;
    }
    .wrapper4{
        height: 73.6vh;
    }
    .connection{
        margin-top: -110px;
    }
}