@media screen and (max-width:2000px) {
    .page-3{
        width: 80%;
        align-items: center;
        justify-content: center;
        padding-left: 270px;
        height: 68.3vh;
        margin: 0%;
        margin-top: 10px;
        margin-bottom: 10px;

    }
}

@media screen and (max-width:1150px) {
    .page-3{
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-left: 80px;
        height: 50vh;
        margin-top: 60px;
        margin-bottom: 91px;

    }
}

@media screen and (max-width:850px) {
    .page-3{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 3.55rem ;
        height: 50vh;
        margin-top: 110px;
        margin-left: -35px;
    }
}

@media screen and (max-width:650px) {
    .page-3{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 1rem ;
        height: 50vh;
        margin-top: 151px;
        margin-left: -45px;
    }
}

@media screen and (max-width:450px) {
    .page-3{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 1rem ;
        height: 50vh;
        margin-top: 210px;
        margin-left: -45px;
    }
}