.page-3{
    width: 100%;
    align-items: center;
    justify-content: center;
    /* padding-left: 270px; */
    height: 68.3vh;
    margin: 0%;
}

.chart-month-kw{
    flex: 1;
    width: 80%;
    display: flex;
    /* position: absolute; */
    justify-content: flex-end;
    align-items: center;
    margin: 0%;
    flex-direction: column;
    padding: 2rem;
}

.chart-month-cost{
    flex: 1;
    width: 80%;
    display: flex;
    /* position: absolute; */
    justify-content: flex-end;
    align-items: center;
    margin: 0%;
    flex-direction: column;
    padding: 2rem;
}
@media screen and (max-width:2000px) {
    .page-3{
        width: 100%;
        margin-top: 0.5rem;
        justify-content:center;
        align-items: center;
        display: flex;
        margin-bottom: 1.19rem;
        padding: 4rem;
        /* margin-left: -150px; */
    }

    .chart-month-kw{
        width: 100%;
        padding: 1rem;
    }

    .chart-month-cost{
        width: 100%;
        padding: 1rem;
    }
}

@media screen and (max-width:1150px) {
    .page-3{
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-left: 80px;
        height: 50vh;
        margin-top: 60px;
        margin-bottom: 91px;

    }
}

@media screen and (max-width:850px) {
    .page-3{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 2.55rem ;
        height: 60.4vh;
        margin-top: 50px;
        margin-left: -20px;
    }
}

@media screen and (max-width:650px) {
    .page-3{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 73vh;
        margin: 1rem;
        margin-top: -10px;
        margin-left: -10px;
    }
    .chart-month-kw{
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0%;

        padding: 0rem;
}

    .chart-month-cost{
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0%;
        padding: 0rem;
}
    
}

@media screen and (max-width:450px) {
    .page-3{
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 86vh;
        margin: 1rem;
        margin-top: -80px;
        margin-left: -15px;
        margin-bottom: 7.8px;
    }

    .chart-month-kw{
        flex: 1;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0%;
        padding: 2rem;
    }
    
    .chart-month-cost{
        flex: 1;
        width:400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0%;
        padding: 2rem;
    }
}