.navnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bottombar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

/* Allow only the table area to scroll */
.table1{
    overflow-y: auto;
    height: calc(90vh - (20vh)); 
    
}


.stationcode-enter-container{

    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-weight: bold;
  
    align-items: center;
}
.station-next-button{
    width: 50%;
 
}

.table-container {
    max-height: 400px; /* Adjust as needed */
    overflow-y: auto;
  }
  

  
  .table th {
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    z-index: 1;
  }
 
  .unseen-notification {
    background-color: #0d6dfd96 !important; /* You can adjust the style as needed */
    border:1px solid #0d6efd9e;
   

  }

  .notificatoin-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .notification-item{
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background-color: #393939;

  }

  .notification-item .message{
    color: #fff;
    flex:3;
  
  }
  .notification-item .time{
    color: #fff;
    text-align: right;
    font-size: 14px;
    flex:2;
  }

  .notification-item .clear{
    color: #fff;
    text-align: left;
    font-size: 14px;
    
  }