.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background:  rgb(186, 153, 217); */
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(254, 255, 254, 0.6);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* .title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
} */
.menu-trigger {
    display: flex;
    position: relative;
}

.drop {
    position: absolute;
    align-items: center;
    top: 100%;
    width: fit-content;
    margin-top: 2px;
    left: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.drop ul{
    margin-top: 5px;
    margin: 1rem 0rem;
   
}

.drop li{
    list-style: none;
    align-items: center;
    justify-content: flex-start ;
    margin-left: -30px;
    font-size: 15px;
    padding: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .menu-trigger:hover .drop {
    display: flex;
} */


.title .logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title .logo img{
    width: 70px;
    margin-left: 20px;
    /* padding-bottom: 5px; */
}


.title p{
    font-size: 25px;
    margin-left: 100px;
    margin-top: -60px;
    justify-content: center;
    padding-bottom: 5px;
    color: #191970;
    align-items: center;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app__navbar-login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 80px;
}

.app__navbar-login a{
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s ease;
    color: #030349;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app__navbar-login a:hover{
    border-bottom: 1px solid rgb(211, 225, 3);
}

/* .app__navbar-login div{
    width: 1px;
    height: 30px;
    background-color: rgb(211, 225, 3);
} */

.app__navbar-smallscreen{
    display: none;
}

.small{
    display: none;
}

.app__navbar-smallscreen_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background:  rgb(186, 153, 217);
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close{
    font-size: 28px;
    /* color: white; */
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    list-style: none;
}

.app__navbar-smaillscreen-links{
    list-style: none;
    
}

.app__navbar-smaillscreen-links a{
    color: #191970;
    text-decoration: none;
}

.app__navbar-smaillscreen-links li{
    margin: 2rem;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 25px;
    list-style: none;
    
}

.app__navbar-smaillscreen-links li:hover{
    color: white;
}

@media screen and (max-width:1150px) {
    .app__navbar-links{
        display: none;
    }

    .app__navbar-smallscreen{
        display: none;
    }
}

@media screen and (max-width:850px) {
    .app__navbar-login{
        display: none;
    }

    .app__navbar-smallscreen{
        display: flex;
    } 

    .small{
        display: flex;
    }
    
    .bell{
        margin-left: -80px;
        margin-top: 1px;
        position: absolute;
    }

    .app__navbar-smallscreen .hammenu{
        margin-left: -40px;
        /* position: absolute; */
    }

    .app__navbar-smallscreen a{
        margin-left: -0px;
    }

}

@media screen and (max-width:650px) {
    .app__navbar-login{
        display: none;
    }

    .app__navbar-smallscreen .hammenu{
        margin-left: -40px;
    }
    
}

@media screen and (max-width:450px) {
    .title .logo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .title .logo img{
        width: 55px;
        margin-left: 15px;
        /* padding-bottom: 5px; */
    }
    
    
    .title p{
        font-size: 20px;
        margin-left: 75px;
        margin-top: -50px;
        display: flex;
        padding-bottom: 0px;
        /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    }

    .app__navbar-smallscreen .hammenu{
        margin-left: -40px;
    }
    
    
}

