.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background:  rgb(186, 153, 217); */
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #3b3b3b;

    /* background-image: radial-gradient(circle, #636363f0,#fffffff3); */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); */
}

.nav-icons{
    color: white;
}
/* .title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
} */
.menu-trigger {
    display: flex;
    position: relative;
    z-index: 100000;
}

.drop {
    position: absolute;
    align-items: center;
    top: 100%;
    width: 114px;
    margin-top: 2px;
    margin-left: -15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding: 0rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.drop ul{
    margin-top: 5px;
    margin: 1rem 0rem;
   
}

.drop li{
    list-style: none;
    align-items: center;
    cursor: pointer;
    justify-content: flex-start ;
    margin-left: -50px;
    font-size: 14px;
    padding: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.drop a:hover{
    background-color:  rgb(50, 51, 43);
    color: white;
}

.drop1 {
    position: absolute;
    align-items: center;
    top: 100%;
    width: 120px;
    margin-top: 2px;
    margin-left: 0;
    border-radius: 5px;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding: 0rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.drop1 ul{
    margin-top: 5px;
    margin: 1rem 0rem;
   
}

.drop1 li{
    gap: 2px;
    list-style: none;
    align-items: center;
    cursor: pointer;
    justify-content: flex-start ;
    flex-direction: column;
    margin-left: -32px;
    font-size: 12px;
    padding: 0px;
    margin-bottom: 1px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: 1px solid rgb(0, 0, 0); */
}

.drop1 li:hover{
    background-color:  rgb(50, 51, 43);
    color: white;
    transition: 0.5s ease;
}

/* .menu-trigger:hover .drop {
    display: flex;
} */

.title .logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title .logo img{
    width: 50px;
    /* display: flex; */
    margin-left: 30px;
    /* padding-bottom: 5px; */
}


.topic{
    position: absolute;
    font-size: 25px;
    margin-left: 90px;
    margin-top: -44px;
    justify-content: center;
    padding-bottom: 5px;
    color: white;
    align-items: center;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app__navbar-login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

.app__navbar-login a{
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s ease;
    color: white;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app__navbar-login a:hover{
    /* border-bottom: 1px solid rgb(211, 225, 3); */
}


/* .device-list-drop:hover{
    background-color: rgb(50, 51, 43);
    color: white;
   
} */

/* .app__navbar-login div{
    width: 1px;
    height: 30px;
    background-color: rgb(211, 225, 3);
} */

.app__navbar-smallscreen{
    display: none;
}

.small{
    display: none;
}

.app__navbar-smallscreen_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    /* background:  rgb(186, 153, 217); */
    background:rgb(24, 23, 23);
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 100000;
}

.badge {
    position: absolute;
    top: -5px;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 8px; 
    font-size: 12px; 
  }

  .badge1 {
    position: absolute;
    top: 15px;
    right: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: red;
    color: white;
    border-radius: 25%;
    padding: 1px 8px;
    font-size: 12px; 
  }

  .selected-device-label{
    color: rgb(255, 255, 255);
    position: relative;
    margin-top: 19px;
    width: fit-content;
    font-size: 13px;
    padding: 0 2px 0 2px;
    margin-left: -15px;
    border-bottom: 1px solid rgb(255, 255, 255);
    /* border-radius: 5px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .device-label-container {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
  }

  .device-label-container button{
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    /* font-size: 13px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
  }
  
  .device-label-container  {
    margin-right: 0px;
  }

.app__navbar-smallscreen_overlay .overlay__close{
    font-size: 28px;
    /* color: white; */
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    list-style: none;
}

.app__navbar-smaillscreen-links{
    list-style: none;
    
}

.app__navbar-smaillscreen-links a{
    color: #ffffff;
    text-decoration: none;
}

.app__navbar-smaillscreen-links li{
    margin: 2rem;
    color: white;
    font-size: 2rem;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style: none;
    
}

.app__navbar-smaillscreen-links li:hover{
    color: white;
    border-bottom:1px solid rgb(255, 242, 0);
    width: fit-content;
    /* margin-left: 5px; */
    transition: 0.5s ease;
    border-radius: 0px;
}

@media screen and (max-width:1150px) {
    .app__navbar-links{
        display: none;
    }

    .app__navbar-smallscreen{
        display: none;
    }

    .selected-device-label{
        /* color: black; */
        position: absolute;
        top: 25px;
        width: 200px;
        font-size: 13px;
        margin-right: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
}

@media screen and (max-width:850px) {
    .app__navbar-login{
        display: none;
    }

    .app__navbar-smallscreen{
        display: flex;
    } 

    .small{
        display: flex;
        
    }
    
    .bell{
        margin-left: -85px;
        margin-top: 1px;
        position: absolute;
    }

    .devicess{
        margin-left: -130px;
        margin-top: 1px;
        position: absolute;
    }

    .app__navbar-smallscreen .hammenu{
        margin-left: -40px;
        /* position: absolute; */
    }

    .app__navbar-smallscreen a{
        margin-left: -0px;
    }

    .selected-device-label{
        /* color: black; */
        position: absolute;
        top: 2px;
        width: 125px;
        font-size: 13px;
        margin-left: 0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }

}

@media screen and (max-width:650px) {
    .app__navbar-login{
        display: none;
    }

    .app__navbar-smallscreen .hammenu{
        margin-left: -40px;
    }

    .selected-device-label{
        /* color: black; */
        position: absolute;
        top: 5px;
        width: 120px;
        font-size: 13px;
        margin-left: 0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
    
}

@media screen and (max-width:450px) {
    .title .logo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .title .logo img{
        width: 53px;
        margin-left: 15px;
        /* padding-bottom: 5px; */
    }
    
    
    .topic{
        font-size: 18px;
        margin-left: 75px;
        margin-top: -45px;
        display: none;
        padding-bottom: 0px;
        /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    }

    .app__navbar-smallscreen .hammenu{
        margin-left: -40px;
    }

    .overlay__close{
        size: 50px;
    }
    
    .selected-device-label{
        /* color: black; */
        position: absolute;
        top: 1px;
        width: 130px;
        font-size: 10px;
        margin-left: -10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }

      
    
}

