.navnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.bottombar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

/* Allow only the table area to scroll */
.table1 {
    overflow-y: auto;
    height: calc(80vh - (20vh)); /* Adjust the height based on your Navbar and BottomNav height */
}