.chart {
  position: relative;
  border-radius: 3%;
  background: rgba(11, 11, 11, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  /* background-color: rgb(38, 37, 37); */
  /* opacity: 50%; */
  /* z-index: 1; */
}

.text1{
    margin-top: 10px;
    width: 150px;
    height: 80px;
    color: #00ff99;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    background:  rgba(11, 11, 11, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.text2{
  margin-top: 10px;
  width: 150px;
  height: 80px;
  color: #ff0066;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  background:  rgba(11, 11, 11, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


.icon{
    position: absolute;
    margin-top: 85px;
    margin-left: 127px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(0, 0, 0);
}

/* .cc{
  background-color: yellow;
} */

/* #container {
    border: solid gold 1px;   
    width: 400px;
    height: 200px;
    background:rgba(56,255,255,0.1);
} */

#box {
    /* border: solid rgb(180, 246, 72) 1px; */
    margin: 0px;
    width: 300px;
    height: 100px;
    background:  rgba(11, 11, 11, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#box2 {
  /* border: solid rgb(180, 246, 72) 1px; */
  margin: 0px;
  width: 440px;
  height: 150px;
  border-radius: 3%;
  background:  rgba(11, 11, 11, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* shadow only outside of the chart */
.chart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Adjust the shadow size and color */
  /* z-index: -1; */
}

#gaugeText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 20px; /* Adjust the font size as needed */
}

/* .c1{
  width: 360px;
} */

@media only screen and (max-width: 650px) {
  .icon {
    position: static;
    transform: none;
    margin-bottom: -130px; /* Adjust the bottom margin based on your design */
  }

  .chart {
    margin-top: 0;
  }
}

@media only screen and (max-width: 450px) {
  .icon {
    position: static;
    transform: none;
    margin-bottom: -130px; /* Adjust the bottom margin based on your design */
  }

  .text1{
    margin-top: 10px;
    width: 300px;
    height: 80px;
    color: #00ff99;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    background:  rgba(11, 11, 11, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.text1 p h2{
  margin-top: 10px;
}

.text2{
  margin-top: 10px;
  width: 300px;
  height: 80px;
  color: #ff0066;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  background:  rgba(11, 11, 11, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

  .chart {
    margin-top: 0;
  }
}
