.page{
    width: 100%;
    /* margin-top: 50px; */
    justify-content:center;
    align-items: center;
    display: flex;
    background-color:#191970;
    /* position: absolute; */
    height: 64.19vh;
}

.chart-now-kw{
    flex: 1;
    width: 40%;
    display: flex;
    /* position: absolute; */
    justify-content: flex-end;
    align-items: center;
    margin: 0%;
    flex-direction: column;
    padding: 0rem;
    margin-top: 0px;
}

.chart-now-cost{
    flex: 1;
    width: 40%;
    display: flex;
    /* position: absolute; */
    justify-content: flex-end;
    align-items: center;
    margin: 0%;
    flex-direction: column;
    padding: 0rem;
    margin-top: 0px;
}

/* .bottom{
    width: 100%;
    display: flex;
    
    
} */
.page-bottom{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    /* background-color:yellow; */
    background-color:#191970;
    /* position: absolute; */
    margin: 0%;
}

/* .page-bottom-1{
    flex: 1;
}
.page-bottom-2{
    flex: 1;
} */

.page-bottom div{
    width: 200px;
    padding: 2rem;
    /* margin-top: -50px; */
}


/* .bottom-3{ */
    /* width: 50px;
    margin-top: 0px; */
    /* justify-content: space-between;
    align-items: center;
    flex-direction: column; */
    
/* } */

/* .bottom-3 .box1{
    flex: 1;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.bottom-3 .box2{
    flex: 1;
    justify-content: space-between;
    align-items: center;
    display: flex;
} */


@media screen and (max-width:2000px){
    .page{
        width: 100%;
        margin-top: 0rem;
        justify-content:center;
        align-items: center;
        display: flex;
        margin-bottom: -4rem;
    }

    .chart-now-kw{
        height: 350px;
        padding: 2rem;
        margin-top: 40px;
    }

    .chart-now-cost{
        height: 350px;
        padding: 2rem;
        margin-top: 40px;
    }

    .bottom-3{
        width: 20px;
        margin: 0%;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
}
}

@media screen and (max-width:1150px){
    .page{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: -2px;
        margin-bottom: 20px;
    }
    /* .chart-now-kw{ */
        /* width:30%;
       
        align-items: center;
        justify-content: center;
        padding: 2px;
        margin: 2px; */
    /* } */
    /* .chart-now-cost{ */
        /* width: 30%;
        
        align-items: center;
        justify-content: center;
        padding: 2px;
        margin: 2px; */
    /* } */
}

@media screen and (max-width:850px){
    .page{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 40px;
    }
    .chart-now-kw{
        width:30%; 
        align-items: center;
        justify-content: center;
        padding: 50px;
       
    }
    .chart-now-cost{
        width: 30%;
        align-items: center;
        justify-content: center;
        padding: 50px;
    }

    .page-bottom{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0%;
        margin-top: -57px;
    }
    
    .page-bottom div{
        width: 150px;
        padding: 10px;
        margin-bottom: 3px;
    }

    .bottom-3{
        width: 0px;
        
    
    }

}

@media screen and (max-width:650px){
    .page{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0%;
        margin-left: 0px;
        height: 100.5vh;
    }

    .chart-now-cost{
        width: 400px;
        margin-top: 0px;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }

    .chart-now-kw{
        margin-top: 50px;
        width: 400px;
        align-items: center;
        justify-content: center;
    }

    .page-bottom{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0%;
        margin-top: 0px;
        flex-direction: column;
        
    }
    
    .page-bottom div{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 5px;
    }

    .page-bottom .vol{
        width: 200px;
        flex: 1;
    }

    .page-bottom .pow{
        width: 200px;
        flex: 1;
    }

    /* .page-bottom .bottom-3{
        margin-top: 16px;
    } */
}

@media screen and (max-width:450px){
    .page{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0%;
        margin-left: 0px;
        height: 98vh;
    }

    .chart-now-cost{
        width: 400px;
        margin-top: -50px;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }

    .chart-now-kw{
        margin-top: 0px;
        width: 400px;
        align-items: center;
        justify-content: center;
    }

    .page-bottom{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0%;
        margin-top: 0px;
        flex-direction: column;
        
    }
    
    .page-bottom div{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 0px;
    }

    .page-bottom .vol{
        width: 180px;
        flex: 1;
    }

    .page-bottom .pow{
        width: 180px;
        flex: 1;
    }
}

