.page{
    width: 100%;
    /* margin-top: 50px; */
    justify-content:center;
    align-items: center;
    display: flex;
    /* background-color:#05052a; */

    /* position: absolute; */
    height: 61vh;
}

.navnav1{
    position: fixed;
    top: 73px; 
    width: 100%;
    z-index: 1000;
}

.bottombar1{
    height: 60px;
    margin: 0%;
    position: fixed;
    z-index: 1000;
}




.page-bottom {
  overflow-y: auto;
  max-height: calc(100vh - 80px - 60px); 
  display: flex;
}

/* .page {
 
  background: url('../../assent/home.jpg');
  background-size: cover;
} */

.page-bottom {
  flex-wrap: wrap;
  display: flex;
}

.home{
    background: url('../../assent/home1.png');
    background-size: cover;
    /* background-color: rgba(255,255,255,0.1); */
    background-blend-mode: darken;
    height: 100vh;
}

.chart-kw{
    flex: 1;
    width: 100%;
    display: flex;
    /* position: absolute; */
    justify-content:center;
    align-items: center;
    margin: 0%;
    flex-direction: column;
    padding: 1rem;
    margin-top: -132px;
    margin-left: 200px;
}

.chart-area{
    flex: 1;
    width: 100%;
    display: flex;
    /* position: absolute; */
    justify-content:center;
    align-items: center;
    margin: 0%;
    flex-direction: column;
    padding: 0rem;
    margin-top: -20px;
    margin-right: 0px;
}

.chart-now-kw{
    flex: 1;
    width: 30%;
    display: flex;
    /* position: absolute; */
    justify-content:center;
    align-items: center;
    margin: 0%;
    flex-direction: column;
    padding: 1rem;
    margin-top: 0px;
}

.chart-now-cost{
    flex: 1;
    width: 30%;
    display: flex;
    /* position: absolute; */
    justify-content: center;
    align-items: center;
    margin: 0%;
    flex-direction: column;
    padding: 1rem;
    margin-top: 0px;
}

/* .bottom{
    width: 100%;
    display: flex;
    
    
} */
.page-bottom{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    /* background-color:#05052a; */
    /* background-color:#020239; */
    /* position: absolute; */
    margin: 0%;
    /* height: 10vh; */
}

/* .page-bottom-1{
    flex: 1;
}
.page-bottom-2{
    flex: 1;
} */

.page-bottom div{
    width: 210px;
    padding: 2rem;
    /* margin-top: -50px; */
}


/* body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden; 
  }
 
  .mainnav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #333;
    color: #fff; 
    padding: 10px 20px;
    z-index: 1000;
  }
  
  
  .mainmenu {
    position: fixed;
    top: 60px; 
    left: 0;
    bottom: 60px;
    width: 250px; 
    background-color: #eee; 
    overflow-y: auto; 
    z-index: 999;
  }
  

  .bottommain {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px; 
    background-color: #333;
    color: #fff; 
    padding: 10px 20px;
    z-index: 1000;
  }
  
  .body2 {
    margin-top: 0px;
    padding: 0px;
    overflow-y: auto; 
  } */
  


@media screen and (max-width:2000px){
    .page{
        width: 100%;
        margin-top: -2rem;
        justify-content:center;
        align-items: center;
        display: flex;
        margin-bottom: -4rem;
        margin-left: 0px;
        overflow-y: auto;
    }

    .body2{
        padding-top: 10px;
        padding-bottom: 60px; 
        overflow-y: auto; 
        height: calc(98.1vh - 80px - 60px); 
    }

    .chart-now-kw{
        height: 300px;
        padding: 1rem;
        margin-top: 0px;
        margin-left: 0px;
    }

    .chart-now-cost{
        height: 300px;
        padding: 1rem;
        margin-top: 0px;
        margin-right: 200px;
    }
    
    .navnav1{
        top: 93px;
    }

    .chart-area{
        flex: 1;
        width: 100%;
        display: flex;
        /* position: absolute; */
        justify-content:center;
        align-items: center;
        margin: 0%;
        flex-direction: column;
        padding: 0rem;
        margin-top: 20px;
        margin-right: 0px;
    }

    .page-bottom{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -10px;
        /* background-color:#05052a; */
        /* background-color:#020239; */
        /* position: absolute; */
        margin: 0%;
        /* height: 10vh; */
    }
    
}

@media screen and (max-width:1150px){
    .page{
        width: 100%;
        margin-top: 0rem;
        justify-content:center;
        align-items: center;
        display: flex;
        margin-bottom: -4rem;
        margin-left: 0px;
        /* overflow-y: auto; */
    }

    .body2{
        padding-top: 10px;
        padding-bottom: 60px; 
        overflow-y: auto; 
        height: calc(10.1vh - 80px - 60px); 
    }

    .chart-kw{
        flex: 1;
        width:100%;
        display: flex;
        /* position: absolute; */
        justify-content:center;
        align-items: center;
        margin: 0%;
        flex-direction: column;
        padding: 0rem;
        margin-top: 0px;
        margin-left: 10px;
    }
    
    .chart-area{
        flex: 1;
        width: 300px;
        display: flex;
        /* position: absolute; */
        justify-content:center;
        align-items: center;
        margin: 0%;
        flex-direction: column;
        padding: 0rem;
        margin-top: 15px;
        margin-left: 400px;
    }

    .chart-now-kw{
        height: 300px;
        padding: 0rem;
        margin-top: -25px;
        margin-left: 0px;
    }

    .chart-now-cost{
        height: 300px;
        padding: 0rem;
        margin-top: -25px;
        margin-right: 0px;
    }

    .page-bottom{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0%;
        margin-top: 30px;
        flex-direction: column;
        
    }
    
    .page-bottom div{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 1px;
    }

    .page-bottom .vol{
        width: 200px;
        flex: 1;
    }

    .page-bottom .pow{
        width: 200px;
        flex: 1;
    }

    .body2{
        width: 100%;
        z-index: 1;
        border-collapse: collapse;
        margin-top: 10px; 
        width: 100%;
        overflow-x: auto;
        padding-top: 30px;
        padding-bottom: 60px; 
        overflow-y: auto; 
        height: calc(96.81vh - 80px - 60px); 
    }
}

@media screen and (max-width:850px){
    .page{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0%;
        margin-left: 0px;
        height: 115.5vh;
    }

    .chart-kw{
        flex: 1;
        width:100%;
        display: flex;
        /* position: absolute; */
        justify-content:center;
        align-items: center;
        margin: 0%;
        flex-direction: column;
        padding: 0rem;
        margin-top: 30px;
        margin-left: 0px;
    }
    
    .chart-area{
        flex: 1;
        width: 300px;
        display: flex;
        /* position: absolute; */
        justify-content:center;
        align-items: center;
        margin: 0%;
        flex-direction: column;
        padding: 0rem;
        margin-top: 15px;
        margin-left: 230px;
    }

    .chart-now-cost{
        width: 400px;
        margin-top: 0px;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-top: 15px;
    }

    .chart-now-kw{
        margin-top: 15px;
        width: 400px;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

    .page-bottom{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0%;
        margin-top: 20px;
        flex-direction: column;
        
    }
    
    .page-bottom div{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 1px;
    }

    .page-bottom .vol{
        width: 200px;
        flex: 1;
    }

    .page-bottom .pow{
        width: 200px;
        flex: 1;
    }

    .body2{
        width: 100%;
        z-index: 1;
        border-collapse: collapse;
        margin-top: 10px; 
        width: 100%;
        overflow-x: auto;
        padding-top: 30px;
        padding-bottom: 60px; 
        overflow-y: auto; 
        height: calc(96.81vh - 80px - 60px); 
    }

}



@media screen and (max-width:650px){
    .page{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0%;
        margin-left: 0px;
        height: 118vh;
    }

    .chart-kw{
        flex: 1;
        width:100%;
        display: flex;
        /* position: absolute; */
        justify-content:center;
        align-items: center;
        margin: 0%;
        flex-direction: column;
        padding: 0rem;
        margin-top: 0px;
        margin-left: 0px;
    }
    
    .chart-area{
        flex: 1;
        width: 300px;
        display: flex;
        /* position: absolute; */
        justify-content:center;
        align-items: center;
        margin: 0%;
        flex-direction: column;
        padding: 0rem;
        margin-top: 15px;
        margin-left: 50px;
    }

    .chart-now-cost{
        width: 300px;
        margin-top: 0px;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-top: 15px;
    }

    .chart-now-kw{
        margin-top: 0px;
        width: 300px;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

    .page-bottom{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0%;
        margin-top: 0px;
        flex-direction: column;
        margin-left: 0px;
        
    }
    
    .page-bottom div{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 2px;
    }

    .page-bottom .vol{
        width: 150px;
        flex: 1;
    }

    .page-bottom .pow{
        width: 150px;
        flex: 1;
    }

    .body2{
        width: 100%;
        z-index: 1;
        border-collapse: collapse;
        margin-top: 10px; 
        width: 100%;
        overflow-x: auto;
        padding-top: 30px;
        padding-bottom: 60px; 
        overflow-y: auto; 
        height: calc(96.85vh - 80px - 60px); 
    }

    /* .page-bottom .bottom-3{
        margin-top: 16px;
    } */
}

@media screen and (max-width:450px){
    .page{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0%;
        margin-left: 0px;
        height: 120vh;
    }

    .chart-kw{
        flex: 1;
        width: 100%;
        display: flex;
        /* position: absolute; */
        justify-content:center;
        align-items: center;
        margin: 0%;
        flex-direction: column;
        padding: 0rem;
        margin-top: -100px;
        margin-left: 0px;
    }
    
    .chart-area{
        flex: 1;
        width: 300px;
        display: flex;
        /* position: absolute; */
        justify-content:center;
        align-items: center;
        margin: 0%;
        flex-direction: column;
        padding: 0rem;
        margin-top: -120px;
        margin-left: -140px;
    }

    .chart-now-cost{
        width: 10px;
        margin-top:-150px;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        margin-right: 0px;
    }

    .chart-now-kw{
        margin-top: -200px;
        width: 10px;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

    .page-bottom{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0%;
        margin-top: 10px;
        /* flex-direction: column; */
        margin-bottom: -50px;
    }
    
    .page-bottom div{
        width: 100%;
        margin-top: 0px;
        margin-bottom: 10px;
        padding: 1px;
        flex: 1;
        justify-content: space-between;
        align-items: center;
    }

    .page-bottom .vol{
        width: 170px;
        flex: 1;
        
    }

    .page-bottom .pow{
        width: 170px;
        flex: 1;
    }

      .body2{
        width: 100%;
        z-index: 1;
        border-collapse: collapse;
        margin-top: 20px; 
        width: 100%;
        overflow-x: auto;
        padding-top: 30px;
        padding-bottom: 60px; 
        overflow-y: auto; 
        height: calc(101.2vh - 80px - 60px); 
    }
    }

