.page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* height: auto; */
    min-height: auto;
}


.days-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: auto;
    color: white;

}

.days-bar-two{
    margin-top: -5px;
    margin-left: 0px;
}

.days-bar-two-home{
    margin: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}

.days-bar-two-home .topic1{
    margin-left: 0px;
    flex: 1;
    margin-top:-25px;
    display: flex;
    justify-content: space-between;
}

/* .days-bar-two-home .topic3{
    margin-left: 50px;
    margin-top:-25px;
    flex: 1;
    display: flex;
    justify-content: space-around;
} */

.days-bar-two-home .topic2{
    margin-left: 195px;
    margin-top:-25px;
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.days-bar-two-home{
    margin-top: -5px;
    margin-left: 220px;
    width: 100%;
}

.days-bar-two-home .progress{
    width: 275px;
    margin-top: 0px;
    height: 15px;
    background-color: #454545;
}

.days-bar-two .progress{
    width: 260px;
    margin-top: -6px;
    height: 15px;
    background-color: #454545;
}

/* .progress-bar span {
    position: absolute;
    left: 50%;
    transform: translateX(50%);
    color: black; 
} */

.page-mode{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* min-height: 65vh; */
}
.progress-info{
    color: #131a25;
    /* background-color: #00000041; */
    /* background: #131a25; */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); */
    width: fit-content;
  
}
.chart-budget-cost{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    /* width: 100%; */
}

.page-mode-charts .chart-now-mode{
    margin-top: 20px;
    width: 100%;
} 

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 45px;
    margin-left: 0px;
 
}



.navnav1{
    position: fixed;
    top: 60px; 
    width: 100%;
    z-index: 1000;
}

.bottombar1{
    height: 60px;
    margin: 0%;
    position: fixed;
    z-index: 1000;
    /* margin-top: 60px; */
    
}

.page-bottom {
  overflow-y: auto;
  /* max-height: calc(100vh - 80px - 60px);  */
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.page-bottom-mode{
    overflow-y: auto;
    overflow-x: hidden;
    /* max-height: calc(100vh - 80px - 60px);  */
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}


/* .page {
 
  background: url('../../assent/home.jpg');
  background-size: cover;
} */

.page-bottom {
  flex-wrap: wrap;
  display: flex;
}

.page-bottom-mode{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin-left: 75px;
}

.page-bottom-mode-new{
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    margin-top: 0px;
}

.page-bottom-mode-new1{
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    margin-top: 0px;
}

.home{
    width: 100%;
    /* background: url('../../assent/home1.png'); */
    /* background: url(../../assent/industry2.png); */
    /* background: url('../../assent/electrician_2.png'); */
    background-size: cover;
    background-blend-mode: darken;
    /* height: auto; */
    /* filter: blur(10px);  */
    background-color: #2d2e2e;
    z-index: -1000;
    /* background-image: radial-gradient(circle, #08121df0,#020409f3, #020409); */
}

.home-industry{
   
    background: url(../../assent/industry2.png);
    /* background: url('../../assent/509826.png'); */
    background-size: cover;
    /* background: rgba(191, 191, 191, 0.899); */
    /* background: rgba(0, 0, 0, 0.899); */
    background-blend-mode: darken;
    z-index: -1000;
    /* background-image: radial-gradient(circle, #08121df0,#020409f3, #020409); */

}

.chart-kw{
    flex: 1;
    width: 100%;
    display: flex;
    /* position: absolute; */
    justify-content:center;
    align-items: center;
    margin: 0%;
    flex-direction: column;
    padding: 1rem;
    margin-top: -134px;
    /* margin-left: 200px; */
}

.chart-area{
    flex: 1;
    width: 100%;
    
    display: flex;
    /* position: absolute; */
    justify-content:center;
    align-items: center;
    margin: 0%;
    flex-direction: column;
    padding: 0rem;
    margin-top: 10px;
    margin-right: 0px;
}

.chart-now-kw{
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 0px;
  padding-top: 0px;
  /* padding-left: 35px; */
  /* flex-direction: column; */
}

.progress{
    width: 380px;
    gap: 10px;
}

.chart-now-cost{
  flex: 1;
  width: 100%;
  display: flex;
  /* padding-right: 35px; */
  justify-content: center;
  align-items: flex-end;

}


/* .section{
    margin-top: -60px;
} */

.section div{
    width: 100%;
    justify-content: center;
    align-items: center;
}

.page-bottom{
    display: flex;
    width: 100%;
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 10px;
    padding-bottom: 20px;
    /* background-color:#05052a; */
    /* background-color:#020239; */
    /* position: absolute; */
    /* margin: 0%; */
    /* height: 10vh; */
    flex-wrap: wrap;
}

.page-bottom-mode{
    display: flex;
    /* width: 100%; */
    flex-wrap: wrap;
    margin-top: 10px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    /* margin: 20px 0; */
    /* font-size: 18px; */
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
  }
  
  .data-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .data-table th, .data-table td {
    padding: 12px 15px;
  }
  
  .data-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .data-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .data-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .data-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .data-table tbody tr td {
    transition: background-color 0.3s ease;
  }
  
  .data-table tbody tr:hover td {
    background-color: #fafafa;
  }
  


.txt{
    /* position: absolute; */
    display: flex;
    margin-left: 10px;
    margin-top: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.section-status{
    width: 100%;
    margin-left: 20px;
   
}

/* .back-color{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 0px;
    margin-left: 0px;
    width:790px;
    height: 55px;
    margin-top: 50px;
    position: absolute;
    z-index: 0;
} */

.section-status-mode{
    /* width: 200px; */
    margin-top: 0px;
    padding-bottom: 10px;
}


.both{
    margin-top: 95px;
    /* margin-left: ; */
}
.section-status h6{
    margin-top: 0px;
    margin-left: 65px;
    /* width: 100%; */
}

.device-active{
    display: flex;
    width: 100%;
    padding: 0px 0px 0px 0px;
    height: 80px;
    color: #ff0066;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    /* background:  rgba(11, 11, 11, 0.5); */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); */
    margin-top: -30px;
}

.device-active-2{
    display: flex;
    /* position: absolute; */
    width: fit-content;
    padding: 2px 15px 0px 5px;
    height: 30px;
    color: #ff0066;
    align-items: center;
    margin-left: 220px;
    border-radius: 10px;
    justify-content: center;
    background:  rgba(11, 11, 11, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    margin-top: -35px;
}

.dropdown-line{
    background: rgba(255, 255, 255, 0.845);
    
}

.section-status{
    margin-top: -20px;
    margin-bottom: 30px;
}


@keyframes pulse {
    0% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1.1);
    }
  }
  

.device-active .curcle{
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    /* background-color: rgb(2, 223, 2); */
    border-radius: 10px;
    margin-left: -10px;
}

.budget-values span{
 padding: 0px 10px 0px 5px;
 /* padding-top: 1rem; */
 font-size: 18px;
 color: white;
}

.budget-values .span1{
    padding: 0px 0px 0px 10px;
    /* padding-top: 1rem; */
    font-size: 18px;
    color: #ffffff;
   }

.budget-values{
    /* background-color: rgba(11, 11, 11, 0.7); */
    border: 3px solid rgba(255, 255, 255, 1);
    color: white;
    border-radius: 5px;
}

.curcle-name{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 25px;
    margin-left: 8px;
    margin-top: -15px;
    font-size: 18px;
}


.curcle-online {
    /* background-color: rgb(3, 167, 3); */
    animation: pulse 1s infinite;
    color: rgb(0, 255, 0);
  }
  
  .curcle-offline {
    color: rgb(251, 63, 0);
    animation: pulse 1s infinite;
  }

  .device-status.online {
    color: rgb(0, 255, 0);
  }
  
  .device-status.offline {
    color: rgb(251, 63, 0);
  }


.page-bottom .vol{
    width: 170px;
    height: 60px;
    /* flex: 1; */
    margin: 4px;
    /* background:  rgba(11, 11, 11, 0.7); */
    /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.page-bottom .pow{
    width: 170px;
    height: 60px;
    /* flex: 1; */
    margin: 4px;
    /* background:  rgba(11, 11, 11, 0.7); */
    /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.mode1 h6{
    color: #00bbf0;
}

.mode2 h6{
    color: #00bbf0;
}

.mode1 span{
    color: #ffffff;
}

.mode2 span{
    color: #ffffff;
}

.page-bottom-mode .mode1{
    width: 150px;
    /* height: 60px; */
    /* flex: 1; */
    margin: 4px;
    /* background:  rgba(11, 11, 11, 0.7); */
    background: #3b3b3b;
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); */
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.page-bottom-mode .mode2{
    width: 150px;
    /* height: auto; */
    /* flex: 1; */
    margin: 4px;
    /* background:  rgba(11, 11, 11, 0.7); */
    background: #3b3b3b;
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); */
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.pow span, .vol span{
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pow p, .vol p{
    /* font-size: 15px; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.page-bottom .data-table{
    width: 100%;
    padding: 1rem;
    margin-top: 0px;

}

.loading-message {
    font-size: 20px;
    color: #000000;
    text-align: center;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .loading-message::after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 10px;
    border: 2px solid currentColor;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .line-values{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }

.line-type{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
    width: 100%;
}

.line-total{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
    width: 100%;

}

.line-total-kw {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    /* font-weight: 550; */
    color: white;
    font-style: italic;
    /* background-color:#59585883; */
}

.line-total-kw div{
    /* background-color: rgba(11, 11, 11, 0.7); */
    width: fit-content;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    /* color: white; */
    margin: 5px;
}
 .line-number{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px; 
 } 

 .line-name{
    margin-left: 0px;
    margin: 5px 0px 15px 0px;
 }

 .main-section{
    width: 100%;
    justify-content: center;
    align-items: center;
 }

 .days-bar-two .progress-bar2{
    margin-top: 0px;
    background-color: #4484ff;
}

.days-bar-two-home .progress-bar2{
    margin-top: 0px;
    background-color: #4484ff;
}
.session-number{
    margin-top: 0px;
}

.name-location span{
    justify-content: space-between;
    width: fit-content;
    margin-left: 3rem;
}

.chart-toggle {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .switch-container {
    display: flex;
    align-items: center;
  }
  
  .switch-label {
    font-size: 16px;
    color: white;
    margin-right: 10px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 28px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

@media screen and (max-width:2000px){
    .page{
        width: 100%;
        /* height: 45vh; */
        margin-top: -1rem;
        justify-content:center;
        align-items: center;
        display: flex;
        /* margin-bottom: -3.5rem; */
        margin-left: 0px;
        overflow-y: auto;
    }

    .body2{
        padding-top: 10px;
        padding-bottom: 60px; 
        overflow-y: auto; 
        height: calc(98.1vh - 80px - 60px); 
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 45px;
        /* margin-left: 100px; */
     
    }


    .navnav1{
        top: 71px;
    }

    .chart-area{
        flex: 1;
        width: 100%;
        display: flex;
        /* position: absolute; */
        justify-content:center;
        align-items: center;
        margin: 0%;
        flex-direction: column;
        padding: 0rem;
        margin-top: 30px;
        margin-right: 0px;
    }

    .page-bottom-mode .mode1{
        width: 150px;
        /* height: auto; */
        /* flex: 1; */
        margin: 4px;
        /* background:  rgba(11, 11, 11, 0.7); */
        background: #3b3b3b;
        /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); */
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .page-bottom-mode .mode2{
        width: 150px;
        /* height: auto; */
        /* flex: 1; */
        margin: 4px;
        /* background:  rgba(11, 11, 11, 0.7); */
        background: #3b3b3b;
        /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); */
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .page-bottom .vol{
    width: 170px;
    height: 60px;
    /* flex: 1; */
    margin: 4px;
    /* background:  rgba(11, 11, 11, 0.7); */
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); */
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.page-bottom .pow{
    width: 170px;
    height: 60px;
    /* flex: 1; */
    margin: 4px;
    /* background:  rgba(11, 11, 11, 0.7); */
    /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

  
}

@media screen and (max-width:1150px){
    .page{
        width: 100%;
        margin-top: 0rem;
        justify-content:center;
        align-items: center;
        display: flex;
        margin-bottom: 0rem;
        gap: 0px;
        margin: 0px;
        /* overflow-y: auto; */
    }

    .body2{
        padding-top: 10px;
        padding-bottom: 60px; 
        overflow-y: auto; 
        height: calc(10.1vh - 80px - 60px); 
    }

    .chart-kw{
        flex: 1;
        width:100%;
        display: flex;
        /* position: absolute; */
        justify-content:center;
        align-items: center;
        margin: 0%;
        flex-direction: column;
        padding: 0rem;
        margin-top: 0px;
        margin-left: 10px;
    }
    
    .chart-area{
        flex: 1;
        width: 300px;
        display: flex;
        /* position: absolute; */
        justify-content:center;
        align-items: center;
        margin: 0%;
        flex-direction: column;
        padding: 0rem;
        margin-top: 30px;
        margin-left: 380px;
    }

    /* .chart-now-kw{
        width: 300px;
        padding: 0rem;
        margin-top: -25px;
        margin-left: 0px;
    }

    .chart-now-cost{
        width: 300px;
        padding: 0rem;
        margin-top: -25px;
        margin-right: 0px;
    } */

    .page-bottom-mode-new{
        display: flex;
        width: 400px;
        flex-wrap: wrap;
        margin-top: 0px;
    }
    
    .page-bottom-mode-new1{
        display: flex;
        width: 500px;
        flex-wrap: wrap;
        margin-top: 0px;
    }

    .page-bottom .vol{
        width: 180px;
        /* height: auto; */
        /* flex: 1; */
        margin: 4px;
        /* background:  rgba(11, 11, 11, 0.7); */
        /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .page-bottom .pow{
        width: 180px;
        /* height: auto; */
        /* flex: 1; */
        margin: 4px;
        /* background:  rgba(11, 11, 11, 0.7); */
        /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .body2{
        width: 100%;
        z-index: 1;
        border-collapse: collapse;
        margin-top: 10px; 
        width: 100%;
        overflow-x: auto;
        padding-top: 30px;
        padding-bottom: 60px; 
        overflow-y: auto; 
        height: calc(96.81vh - 80px - 60px); 
    }
    .page-bottom-mode .mode1{
        width: 150px;
        /* height: auto; */
        /* flex: 1; */
        margin: 4px;
        /* background:  rgba(11, 11, 11, 0.7); */
        /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .page-bottom-mode .mode2{
        width: 150px;
        /* height: auto; */
        /* flex: 1; */
        margin: 4px;
        /* background:  rgba(11, 11, 11, 0.7); */
        /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .page-bottom-mode{
        margin-top: 0px;
    }
}

@media screen and (max-width:1050px){
    .page{
        width: 100%;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        margin: 0%;
        margin-left: 0px;
        height: auto;
        margin-top: 0px;
    } 

    .days-bar-two-home{
        margin: 0%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex;
    }
    
    .days-bar-two-home .topic1{
        margin-left: 0px;
        flex: 1;
        margin-top:-25px;
        display: flex;
        justify-content: space-between;
    }
    
    .days-bar-two-home .topic2{
        margin-left: 180px;
        margin-top:-25px;
        flex: 1;
        display: flex;
        justify-content: space-around;
    }
    
    .days-bar-two-home{
        margin-top: -5px;
        margin-left: 70px;
        width: 100%;
    }

    .page-bottom-mode{
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 0px;
    }

     .page-bottom-mode .mode1{
        width: 150px;
        /* height: auto; */
        /* flex: 1; */
        margin: 4px;
        
        /* background:  rgba(11, 11, 11, 0.7); */
        /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .page-bottom-mode .mode2{
        width: 150px;
        /* height: auto; */
        /* flex: 1; */
        margin: 4px;
        /* background:  rgba(11, 11, 11, 0.7); */
        /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .line-name{
        margin-left: 0px;
     }

     .line-number{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0px;
        margin-left: 0px;
        padding: 0px; 
     }

     .section-status{
        margin-top: -40px;
        margin-left: 50px;
        width: fit-content;
    }   

     .budget-values{
        margin-top: 0px;
    }

    .page-bottom-mode-new{
        display: flex;
        /* width: 350px; */
        flex-wrap: wrap;
        margin-top: 0px;
    }
    
    .page-bottom-mode-new1{
        display: flex;
        /* width: 350px; */
        flex-wrap: wrap;
        margin-top: -30px;
    }
}

@media screen and (max-width:950px){
    .page{
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin: 0%;
        margin-left: 0px;
        height: auto;
        margin-top: 0px;
    } 

    .page-bottom-mode{
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .page-bottom-mode .mode1{
        width: 130px;
        margin: 4px;
        /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .page-bottom-mode .mode2{
        width: 130px;
   
        margin: 4px;
  
        /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .chart-now-kw{
        /* flex: 1; */
        width: 100%;
        display: flex;
        justify-content: center;
        
      }
      
      .chart-now-cost{
        /* flex: 1; */
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .page-bottom-mode-new{
        display: flex;
        /* width: 350px; */
        flex-wrap: wrap;
        margin-top: 0px;
    }
    
    .page-bottom-mode-new1{
        display: flex;
        /* width: 350px; */
        flex-wrap: wrap;
        margin-top: -20px;
    }

    .section-status{
        margin-top: -40px;
        margin-left: 40px;
        width: fit-content;
    }
    
}

@media screen and (max-width:850px){
    .page{
        width: 100%;
      
        align-items: center;
        justify-content: space-between;
        margin: 0%;
        margin-top: 0px;
        height: auto;
    }

    .chart-kw{
        flex: 1;
        width:100%;
        display: flex;
   
        justify-content:center;
        align-items: center;
        margin: 0%;
        flex-direction: column;
        padding: 0rem;
        margin-top: 0px;
        margin-left: 0px;
    }
    
    .chart-area{
        flex: 1;
        width: 300px;
        display: flex;
 
        justify-content:center;
        align-items: center;
        margin: 0%;
        flex-direction: column;
        padding: 0rem;
        margin-top: 15px;
        margin-left: 180px;
    }

    .page-bottom{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0%;
        margin-top: 0px;
        flex-direction: column;
        
    }

    .curcle-name{
        margin-left: 12px;
    }
    


    .page-bottom .vol{
        width: 200px;
      
        margin: 4px;
        
        /* background:  rgba(11, 11, 11, 0.7); */
        /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;;
    }

    .page-bottom .pow{
        width: 200px;
   
        margin: 4px;   
        /* background:  rgba(11, 11, 11, 0.7); */
        /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .body2{
        width: 100%;
        z-index: 1;
        border-collapse: collapse;
        margin-top: 10px; 
        width: 100%;
        overflow-x: auto;
        padding-top: 30px;
        padding-bottom: 60px; 
        overflow-y: auto; 
        height: calc(96.81vh - 80px - 60px); 
    }

    .both{
        margin-top: -20px;
        margin-left: -20px;
    }

    .device-active{
        display: flex;
      
        width: fit-content;
        padding: 0px 15px 0px 15px;
        height: 40px;
        color: #ff0066;
        align-items: center;
        border-radius: 10px;
        justify-content: center;
        margin-top: 25px;
    }

    .device-name{
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
    }
    
    .curcle{
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 15px;
        height: 15px;
        border-radius: 25px;
        margin-left: 0px;
    
    }
    /* .session-name{
        margin-top: 30px;
       
        width: fit-content;
       
    } */

    /* .session-name h6,p{
        margin-top: 0px;  
        margin-left: 0px;
    } */

    .progress{
        width: 100%;
    }

    .page-bottom-mode{
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .page-bottom-mode .mode1{
        width: 116px;
      
        margin: 4px;
        
   
        /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .page-bottom-mode .mode2{
        width: 116px;
    
        margin: 4px;
    
        /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .section-status{
        margin-top: 0px;
        margin-left: 20px;
        width: fit-content;
    }

    .both{
        margin-top: 0px;
    }

    .section-status h6{
        margin-top: -26px;
        margin-bottom: 15px;
    } 

    .days-bar-two{
        margin-top: -30px;
    }
    .days-bar-two-home{
        margin-top: -30px;
    }

    .line-name{
        margin-left: 50px;
     }

     .line-number{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0px;
        margin-left: 50px;
        padding: 0px; 
     }    

     .budget-values{
        margin-top: 0px;
    }

    .line-values{
        margin-top: -20px;
    }
    .session-number{
        margin-top: -10px;
    }
    .page-bottom-mode-new{
        display: flex;
        width: 350px;
        flex-wrap: wrap;
        margin-top: 0px;
    }
    
    .page-bottom-mode-new1{
        display: flex;
        width: 350px;
        flex-wrap: wrap;
        margin-top: -20px;
    }
    .name-location span{
        justify-content: space-between;
        width: fit-content;
        margin-left: 1.5rem;
    }
}

@media screen and (max-width:770px){
    .section{
        margin-top: 0px;
    }
    .section-status{
        margin-top: 0px;
        margin-bottom: 10px;
        margin-top: 0px;
        margin-left: 20px;
        width: fit-content;
    } 
    
.section-status h6{
    margin-top: -26px;
    margin-bottom: 15px;
}  

.both{
    margin-top: 0px;
}

.budget-values{
    margin-top: 0px;
   }

   .days-bar-two .progress{
    width: 200px;
    margin-top: -10px;
}

.days-bar-two{
    margin-top: -40px;
}

.days-bar-two .progress-bar2{
    margin-top: 0px;
    
}

.days-bar-two-home .progress{
    width: 200px;
    margin-top: -10px;
}

.days-bar-two-home{
    margin-top: -40px;
}

.days-bar-two-home .progress-bar2{
    margin-top: 0px;
    
}
.page-bottom-mode-new{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    margin-left: -50px;
}

.page-bottom-mode-new1{
    display: flex;
    width: 450px;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-top: 0px;
}
.name-location span{
    justify-content: space-between;
    width: fit-content;
    margin-left: 2rem;
}

.days-bar-two-home .topic2{
    margin-left: 80px;
    margin-top:-32px;
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.page-bottom-mode .mode2{
    width: 100px;
    margin: 4px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.page-bottom-mode .mode1{
    width: 100px;
    margin: 4px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
   /* .days-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: auto;
    flex-direction: column;
} */
}


@media screen and (max-width:650px){
    .page{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0%;
        margin-left: 0px;
        height: auto;
    }

    .days-bar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        min-height: auto;
        flex-direction: column;
    }

    .days-bar-two .progress{
        width: 270px;
        margin-top: -10px;
    }

    .days-bar-two-home .progress{
        width: 270px;
        margin-top: -10px;
    }
    
    .days-bar-two{
        margin-top: 0px;
    }

    .days-bar-two-home{
        margin-top: 0px;
    }

    

    .chart-kw{
        flex: 1;
        width:100%;
        display: flex;

        justify-content:center;
        align-items: center;
        margin: 0%;
        flex-direction: column;
        padding: 0rem;
        margin-top: -50px;
        margin-left: 0px;
    }

    .chart-now-kw{
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
      
      .chart-now-cost{
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
      
      }

      /* .session-name{
        margin-top: 30px;
        margin-left: 40px;
    } */

    /* .session-name h6,p{
        margin-top: 0px;  
        margin-left: 0px;
        font-size: 15px;
        width: max-content;
    } */

    .both{
        margin-top: 0px;
    }

    .device-active-2{
        display: flex;
      
        width: fit-content;
        padding: 2px 15px 0px 5px;
        height: 30px;
        color: #ff0066;
        align-items: center;
        margin-left: 220px;
        border-radius: 10px;
        justify-content: center;
        background:  rgba(11, 11, 11, 0.5);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
        margin-top: -35px;
    }

    .page-bottom{
        display: flex;
        width: 100%;
    
        margin-top: -60px;
       
        flex-wrap: wrap;
        
    }
    

    .body2{
        width: 100%;
        z-index: 1;
        border-collapse: collapse;
        margin-top: 10px; 
        width: 100%;
        overflow-x: auto;
        padding-top: 30px;
        padding-bottom: 60px; 
        overflow-y: auto; 
        height: calc(96.85vh - 80px - 60px); 
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
     
    }

    .both{
        margin-left: 0px;
    }

    .section-status{
        margin-top: 0px;
        width: max-content;
        margin-left: 0px;
    }

    .section-status h6{
        /* margin-top: 0px; */
        margin-left: 80px;
        /* width: 100%; */
    }

    .days-bar-one{
        margin-bottom: 15px;
    }

    .days-bar-two{
        margin-left: 0px;
    }

    .days-bar-two-home{
        margin-left: 0px;
    }

    .page-bottom-mode .mode1{
        width: 155px;   
        margin: 4px;
        /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .page-bottom-mode .mode2{
        width: 155px;
        margin: 4px;
        /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .page-bottom-mode-new{
        display: flex;
        /* width: 300px; */
        flex-wrap: wrap;
        margin-left: 0px;
    }
    
    .page-bottom-mode-new1{
        display: flex;
        /* width: 450px; */
        flex-wrap: wrap;
        margin-left: 0px;
        margin-top: 0px;
    }

    .days-bar-two .progress-bar2{
        margin-top: 0px;
    }

    .days-bar-two-home .progress-bar2{
        margin-top: 0px;
    }

    .session-number{
        margin-top: -15px;
    }
    
} 

@media screen and (max-width:550px){
    

    .budget-values{
        margin-top: 15px;
    }

    .days-bar-two .progress{
        margin-bottom: 8px;
        width: 375px;
    }

    .days-bar-two-home .progress{
        margin-bottom: 8px;
        width: 375px;
    }

    .days-bar-two .progress-bar2{
        margin-top: 8px;
    }

    .days-bar-two-home .progress-bar2{
        margin-top: 8px;
    }

    .page-bottom-mode-new{
        display: flex;
        width: 450px;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-left: -70px;
    }

    .page-bottom-mode-new1{
        display: flex;
        width: 450px;
        flex-wrap: wrap;
        margin-top: 0px;
        flex-direction: column;
    }
    .section-status{
        /* margin-top: -30px; */
        margin-left: 20px;
    } 
    

    .days-bar-two-home .topic2{
        margin-left: 285px;
        /* margin-top:-35px; */
        flex: 1;
        display: flex;
        justify-content: space-around;
    }
}


@media screen and (max-width:450px){
    .page{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0%;
        margin-top: 0px;
        height: auto;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: -50px;
        margin-left: 0px;
     
    }

    .navnav1{
        top: 89px;
    }

    .chart-kw{
        flex: 1;
        width: 100%;
        display: flex;
     
        justify-content:center;
        align-items: center;
        margin: 0%;
        flex-direction: column;
        padding: 0rem;
        margin-top: 0px;
        margin-left: 0px;
    }

    .page-bottom{
        display: flex;
        width: 100%;
  
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .page-bottom-mode{
        display: flex;
        width: 100%;
   
        margin: 0%;
        margin-top: 0px;
       flex-wrap: wrap;
        margin-bottom: 0px;
    }

    .progress{
        width: 100%;
    }
    .txt{
     
        margin-left: 80px;
        margin-top: -25px;
        
    }

    .txt1{
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  

    .page-bottom .vol{
        width: 152px;
   
        margin: 4px;
        /* background:  rgba(11, 11, 11, 0.7);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;;
        
    }


    .section-status h6{
        margin-top: -29px;
        margin-left: 80px;
    }

    .section-status{
        margin-top: 30px;
        width: max-content;
        margin-left: 10px;
    }

    .days-bar-two{
        margin-top: 5px;
    }

    .days-bar-two-home{
        margin-top: 5px;
    }

    .days-bar-two .progress{
        width: 100%;
        margin-top: -10px;    
    }

    .days-bar-two-home .progress{
        width: 85%;
        margin-top: -10px;
        
    }

    .days-bar-two .progress-bar2{
        margin-top: 8px;     
    }

    .days-bar-two-home .progress-bar2{
        margin-top: 8px;     
    }

    .page-bottom .pow{
        width: 152px;
 
    margin: 4px;
    /* background:  rgba(11, 11, 11, 0.7);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    }

      .body2{
        width: 100%;
        z-index: 1;
        border-collapse: collapse;
        margin-top: 20px; 
        width: 100%;
        overflow-x: auto;
        padding-top: 30px;
        padding-bottom: 60px; 
        overflow-y: auto; 
        height: calc(101.2vh - 80px - 60px); 
    }

    .device-active{
        display: flex;
    
        width: fit-content;
        padding: 0px 15px 0px 25px;
        height: 40px;
        color: #ff0066;
        align-items: center;
        border-radius: 10px;
        justify-content: center;
        margin-left: -10px;
        margin-top: 60px;
    }

    .device-name{
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
        margin-top: 42px;
        margin-left: -75px;
    }

    .both{
        margin-top: 0px;
    }
    
    .curcle{
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 15px;
        height: 15px;
        border-radius: 25px;
        margin-left: -5px;
        
    }

    /* .session-name{
        margin-top: 30px;
    }
    .session-name{
        margin-top: 30px;
        margin-left: 0px;
    } */
    
.page-bottom-mode .mode1{
    width: 165px;
  
    margin: 4px;
 
    /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.page-bottom-mode .mode2{
    width: 165px;
 
    margin: 4px;
 
    /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.budget-values h2{
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
   }

   .budget-values{
    margin-top: 40px;
   }

   .line-total-kw div{
  
    width: fit-content;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    margin: 0px 1.5px 0px 0px;
}
.section-status-mode{
    margin-top: 30px;
}


 .device-name-state-mode{
    margin-top: 0px;
}

.line-number{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 35px;
    margin-left: 0px;
    padding: 0px; 
 }

 .line-name{
    margin-left: 0px;
    margin-top: 5px;
 }
 .session-number{
    margin-top: -15px;
}
.name-location span{
    justify-content: space-between;
    width: fit-content;
    margin-left:0.5rem;
}

.days-bar-two-home .topic1{
    margin-left: 0px;
    margin-top:-25px;
}

.days-bar-two-home .topic2{
    margin-left: 200px;
    margin-top:-32px;
}

.page-bottom-mode-new{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 0px;
}

.page-bottom-mode-new1{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 0px;
}
    }

    @media screen and (max-width:435px){
        .page {
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: 0%;
            margin-top: 0px;
            height:auto; 
            margin-bottom: 15px;
        }

    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
     
    }

       .line-values{
        width: 100%;
        display: flex;
        flex-direction: column;
        /* margin-top: -15px; */
      } 
      

      .page-bottom-mode .mode1{
        width: 155px;
      
        margin: 4px;
     
        /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .page-bottom-mode .mode2{
        width: 155px;
     
        margin: 4px;
     
        /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    /* .section-status{
        margin-top: 90px;
        margin-bottom: 20px;
    }  */

    .section{
        margin-top: -40px;
    }
    .section-status{
        /* margin-top: -30px; */
        margin-bottom: 30px;
    } 
    
.section-status h6{
    margin-top: -26px;
    margin-bottom: 15px;
    /* margin-left: 0px; */
}  

.budget-values{
    margin-top: 35px;
   }

   .days-bar-two-home .topic2{
    margin-left: 240px;
    /* margin-top:-35px; */
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.page-bottom-mode-new1{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    margin-top: -20px;
    flex-direction: column;
}

}

    @media screen and (max-width:420px){
        .page {
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: 0%;
            margin-top: 0px;
            height:auto; 
        }

        .page-bottom-mode .mode1{
            width: 160px;
          
            margin: 4px;
         
            /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }
        
        .page-bottom-mode .mode2{
            width: 160px;
         
            margin: 4px;
         
            /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
            border-radius: 5px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }

        .section{
            margin-top: -45px;
        }
        .section-status{
            /* margin-top: -30px; */
            margin-bottom: 30px;
        } 
        
    .section-status h6{
        margin-top: -24px;
        margin-bottom: 15px;
    }  
    
    .budget-values{
        margin-top: 35px;
       }
       
       .session-number{
        margin-top: -20px;
    }
    }

    @media screen and (max-width:415px){
        .page {
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: 0%;
            margin-top: 0px;
            height:auto; 
        }

        .page-bottom-mode .mode1{
            width: 154px;
          
            margin: 4px;
         
            /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }
        
        .page-bottom-mode .mode2{
            width: 154px;
         
            margin: 4px;
         
            /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
            border-radius: 5px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }

        .section{
            margin-top: -40px;
        }
        .section-status{
            margin-top: 0px;
            margin-bottom: 0px;
        } 
        
    .section-status h6{
        margin-top: -26px;
        margin-bottom: 15px;
    }  

    .budget-values{
        margin-top: 35px;
       }

       .days-bar-two{
        margin-top: 5px;
    }

    .days-bar-two-home{
        margin-top: 5px;
    }

    .days-bar-two .progress{
        width: 100%;
        margin-top: -10px;    
    }

    .days-bar-two-home .progress{
        width: 87%;
        margin-top: -10px;
        
    }

    .days-bar-two .progress-bar2{
        margin-top: 8px;     
    }

    .days-bar-two-home .progress-bar2{
        margin-top: 8px;     
    }

    .line-total{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        margin-left: 0px;
        padding: 0px;
        width: 100%;
    }

    .days-bar-two-home .topic2{
        margin-left: 255px;
        /* margin-top:-35px; */
        flex: 1;
        display: flex;
        justify-content: space-around;
    }
    
    }

     @media screen and (max-width:400px){
        .page-bottom-mode .mode1{
            width: 154px;
          
            margin: 4px;
         
            /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }
        
        .page-bottom-mode .mode2{
            width: 154px;
         
            margin: 4px;
         
            /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
            border-radius: 5px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }
        .page {
            width: 100%;
            flex-direction: column; 
            align-items: center;
            justify-content: space-between;
            margin: 0%;
            margin-top: 0px;
            height:auto;
            margin-bottom: 5px; 
        }

        .section-status{
            margin-top: -40px;
            margin-bottom: 20px;
        }  
        .section-status{
            margin-top: 0px;
            margin-left: 10px;
            width: fit-content;
        }
        
        .line-total{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 0px;
            margin-left: 0px;
            padding: 0px;
            width: 100%;
        
        }

        .days-bar-two-home .topic1{
            margin-left: 0px;
            margin-top: -25px;
        }
        
        .days-bar-two-home .topic2{
            margin-left: 180px;
            margin-top:-32px;
            flex: 1;
            display: flex;
            justify-content: space-around;
        }

        .days-bar-two-home{
            margin-top: 5px;
            margin-left: 10px;
            width: 100%;
        }
    
        .days-bar-two-home .progress{
            width:79%;
            margin-top: -10px;
            
        }
    
        .days-bar-two .progress-bar2{
            margin-top: 8px;     
        }
    
        .days-bar-two-home .progress-bar2{
            margin-top: 8px;     
        }

        .page-bottom-mode-new1{
            display: flex;
            width: 300px;
            flex-wrap: wrap;
            margin-top: -20px;
            flex-direction: column;
        }
        
     }
   
    @media screen and (max-width:390px){
        .page {
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: 0%;
            margin-top: 0px;
            height:auto; 
        }

        .page-bottom-mode .mode1{
            width: 140px;
         
            margin: 4px;
          
            /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }

        .days-bar-two-home .topic2{
            margin-left: 180px;
            margin-top:-35px;
            flex: 1;
            display: flex;
            justify-content: space-around;
        }
        
        .page-bottom-mode .mode2{
            width: 140px;
          
            margin: 4px;
          
            /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
            border-radius: 5px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }

        .section-status{
            margin-top: -50px;
            margin-bottom: 25px;
        }

        .page-bottom-mode-new{
            display: flex;
            width: 300px;
            flex-wrap: wrap;
            margin-top: 10px;
            margin-left: 0px;
        }
    
        .page-bottom-mode-new1{
            display: flex;
            width: 300px;
            flex-wrap: wrap;
            margin-top: -20px;
            flex-direction: column;
        }
        
    }

    @media screen and (max-width: 380px) {
        .page {
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: 0%;
            margin-top: 0px;
            height:auto; 
        }

        .page-bottom-mode .mode1{
            width: 150px;
         
            margin: 4px;
          
            /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }
        
        .page-bottom-mode .mode2{
            width: 150px;
          
            margin: 4px;
          
            /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
            border-radius: 5px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }

        .section-status{
            margin-top: 0px;
            margin-bottom: 20px;
        }  

        .section-status{
            margin-top: 0px;
            margin-left: 10px;
            width: fit-content;
        }

        .session-number{
            margin-top: -15px;
        }

        .page-bottom-mode-new{
            display: flex;
            width: 320px;
            flex-wrap: wrap;
            margin-top: 10px;
            margin-left: 0px;
        }
    
        .page-bottom-mode-new1{
            display: flex;
            width: 260px;
            flex-wrap: wrap;
            margin-top: -20px;
            flex-direction: column;
        }

        .days-bar-two-home .topic2{
            margin-left: 180px;
            margin-top:-32px;
            /* flex: 1; */
            /* display: flex; */
            /* justify-content: space-around; */
        }
    }

    @media screen and (max-width: 365px) {
        .page {
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: 0%;
            margin-top: 0px;
            height:auto; 
        }

        .page-bottom-mode .mode1{
            width: 120px;
          
            margin: 4px;
         
            /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }
        
        .page-bottom-mode .mode2{
            width: 120px;
         
            margin: 4px;
         
            /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
            border-radius: 5px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }

        .section{
            margin-top: -40px;
        }
        .section-status{
            margin-top: 70px;
            margin-bottom: 0px;
            margin-left: 20px;
        } 
        
    .section-status h6{
        margin-top: -26px;
        margin-bottom: 15px;
    }  

    .budget-values{
        margin-top: 35px;
       }

       .days-bar-two{
        margin-top: 5px;
        width: 100%;
    }

    .days-bar-two-home{
        margin-top: 5px;
        display: flex;
        margin-left: 0px;
    }

    .days-bar-two .progress{
        width: 100%;
        margin-top: -10px;    
    }

    .days-bar-two-home .progress{
        width: 80%;
        margin-top: -10px;
        
    }

    .days-bar-two .progress-bar2{
        margin-top: 8px; 
            
    }

    .days-bar-two-home .progress-bar2{
        margin-top: 8px;     
    }

    .line-total{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        margin-left: 0px;
        padding: 0px;
        width: 100%;
    }
    .days-bar-two-home .topic2{
        margin-left: 165px;
        margin-top:-35px;
        /* flex: 1; */
        /* display: flex; */
        /* justify-content: space-around; */
    }

    .page-bottom-mode-new{
        display: flex;
        width: 260px;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-left: 0px;
    }

    .page-bottom-mode-new1{
        display: flex;
        width: 250px;
        flex-wrap: wrap;
        margin-top: -20px;
        flex-direction: column;
    }
    .name-location span{
        justify-content: space-between;
        width: fit-content;
        margin-left: 1rem;
    }
    }

    @media screen and (max-width: 350px) {
        .days-bar-two-home .topic2{
            margin-left: 165px;
            margin-top:-32px;
            /* flex: 1; */
            /* display: flex; */
            /* justify-content: space-around; */
        }
        .section-status{
            margin-top: 50px;
            margin-bottom: 0px;
            margin-left: 13px;
        }
    }
